In [1]:
product = 1

for i in range(1,10):
    
    print("")

    for j in range(1,10):

        product = i * j

        print(i,"*",j,"=",product)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [2]:
sum = 0

N = 0

while True : 

    text = input("請輸入數字或 quit")

    if text == "quit" :

        break

    else :

        num = int(text)

        sum = sum + num

        N = N + 1

print("總和為", sum , "共輸入" , N , "次")

總和為 6 共輸入 3 次

In [ ]:
mylist = [1,2,3,4,5]

print(mylist[0])

print(len(mylist))

print(mylist[0:2])

print(mylist[2:-2])

print(mylist[-2:4])

print(mylist[4:1:-1])

1
5
[1, 2]
[3]
[4]
[5, 4, 3]

In [ ]:
x = [1,2,3]

y = [4,5]

print(x+y)

x[3:] = y

print(x)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [ ]:
x = [1,2,3]

a = [1,2,3]

y = [4,5]

x[:-1] = y

a[:0] = y

# [1:-1] 可以選擇中間資料，去掉前後，很方便

print(x,a)

[4, 5, 3] [4, 5, 1, 2, 3]

In [42]:
a = [1,2,3]

b = 4

a.append(b)

print(a)

[1, 2, 3, 4]

In [43]:
a = [1,2,3]

b = [4,5]

a.extend(b)

print(a)

[1, 2, 3, 4, 5]

In [45]:
a = [1,2,3]

b = 1

a.remove(b)

print(a)

[2, 3]

In [54]:
a = [1,3,5,2,4]

a.sort()

b = [1,3,5,2,4]

b.sort(reverse=True)

print(a,b)

[1, 2, 3, 4, 5] [5, 4, 3, 2, 1]

In [ ]:
# list 的 copy 功能

a = [1,2,3]

b = a[:]

print(b)

[1, 2, 3]

In [55]:
a = [1,3,5,2,4]

b = 10

c = b in a

print(c)

False

In [1]:
a = [1,3,5,2,4]

b = max(a)

c = min(a)

x = [1,2,3]

y = sum(x)

print(b,c,y)

5 1 6

In [2]:
a = [1,3,5,2,4]

b = a.index(2)

print(b)

3

In [3]:
a = [1,3,5,2,4]

b = a.count(2)

print(b)

1

In [ ]:
a = []

for i in range(3) :

    a.append(i)

print(a)

[0, 1, 2]

In [ ]:
a = [i for i in range(3)]

print(a)

[0, 1, 2]

In [18]:
a = [i for i in range(10)]

b = [i for i in range(10) if i%2 ==0]

c = [i for i in range(10) if i%2 ==1]

d = [i*i for i in range(10) if i%2 ==0]

e = [i for i in range(10) if i%3 ==0 or i%5==0]

print(a)

print(b)

print(c)

print(d)

print(e)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]
[0, 4, 16, 36, 64]
[0, 3, 5, 6, 9]

In [24]:
a = {

    "name" : "Tom",
    "age" : "25",
    "phone" : "123"

}

b = dict(name = "Tom", age = "25", phone= "123")

c = [("name","Tom"),("age","25"),("phone","123")]

d = dict(a)

print(d)

{'name': 'Tom', 'age': '25', 'phone': '123'}

In [31]:
a = {

    "name" : "Tom",
    "age" : "25",
    "phone" : "123"

}

print(a["name"])

b = a.get("name")

print(b)

Tom
Tom

In [ ]:
a = {

    "name" : "Tom",
    "age" : "25",
    "phone" : "123"

}

a["name"] = "cat"

a["address"] = "abc"

print(c)

{'name': 'cat', 'age': '25', 'phone': '123', 'address': 'abc'}

In [34]:
a = {

    "name" : "Tom",
    "age" : "25",
    "phone" : "123"

}

del a["name"]

print(a)

{'age': '25', 'phone': '123'}

In [ ]:
a = {

    "name" : "Tom",
    "age" : "25",
    "phone" : "123"

}

b = a.pop("name")

print(a)

print(b)

{'age': '25', 'phone': '123'}
Tom

In [ ]:
a = {

    "name" : "Tom",
    "age" : "25",
    "phone" : "123"

}

b = a.popitem()

print(a)

print(b)

{'name': 'Tom', 'age': '25'}
('phone', '123')

In [41]:
a = {

    "name" : "Tom",
    "age" : "25",
    "phone" : "123"

}

a.clear()

print(a)

{}

In [94]:
a = {

    "name" : "Tom",
    "age" : "25",
    "phone" : "123"

}

b = list(a.keys())

c = list(a.values())

d = list(a.items())

print(a)

print(b)

print(c)

print(d)

{'name': 'Tom', 'age': '25', 'phone': '123'}
['name', 'age', 'phone']
['Tom', '25', '123']
[('name', 'Tom'), ('age', '25'), ('phone', '123')]

In [48]:
a = {

    "name" : "Tom",
    "age" : "25",
    "phone" : "123"

}

b = {

    "address" : "abc"

}

a.update(b)

print(a)

{'name': 'Tom', 'age': '25', 'phone': '123', 'address': 'abc'}

In [ ]:
a = {

    "name" : "Tom",
    "age" : "25",
    "phone" : "123"

}

for x in a.keys() :

    print(x)

for x in a.values() :

    print(x)

for x in a.items() :

    print(x)

for x , y in a.items() :

    print(f"{x} : {y}")

name
age
phone
<class 'str'>
<class 'str'>
<class 'str'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
name : Tom
age : 25
phone : 123

In [96]:
a = {x : x**2 for x in range(3)}

print(a)

b = ["apple","banana","orange"]

c = {x : len(x) for x in b if len(x) > 5}

print(c)

d = {

    "apple" : 10,
    "banana" : 15,
    "orange" : 20

}

e = {x : y*0.8 for x , y in d.items()}

print(e)

{0: 0, 1: 1, 2: 4}
{'banana': 6, 'orange': 6}
{'apple': 8.0, 'banana': 12.0, 'orange': 16.0}

In [104]:
a = {

    "student" : {

        "Tom" : { "age" : "20" , "department" : "a" } ,
        
        "Cat" : { "age" : "25" , "department" : "b" }

    } ,

    "department" : {

        "a" : { "address" : "abc" , "phone" : "123" } ,

        "b" : { "address" : "def" , "phone" : "456" }

    }
    
}

b = a["student"]["Tom"]["age"]

print(b)

c = a["student"]["Tom"]

print(c)

a["student"]["Cat"]["age"] = 26

print(a["student"]["Cat"]["age"])

20
{'age': '20', 'department': 'a'}
26

In [ ]:
a = [
    
    {

        "name" : "Tom",
        "department" : "aaa",
        "age" : 20

    },

    {
        
        "name" : "Cat",
        "department" : "bbb",
        "age" : 25

    }

]

b = {

        "name" : "Meow",
        "department" : "ccc",
        "age" : 30

    }

a.append(b)

print(a)

c = a[0]["name"]

print(c)

a[1]["age"] = 26

print(a[1]["age"])

[{'name': 'Tom', 'department': 'abc', 'age': 20}, {'name': 'Cat', 'department': 'def', 'age': 25}, {'name': 'Meow', 'department': 'ghi', 'age': 30}]
Tom
26

In [ ]:
a = [
    
    {

        "name" : "Tom",
        "department" : "aaa",
        "age" : 20

    },

    {
        
        "name" : "Cat",
        "department" : "bbb",
        "age" : 25

    },
 
    {

        "name" : "Meow",
        "department" : "ccc",
        "age" : 30

    }

]

b = []

for x in a :

    if x["age"] > 23 :

        b.append(x)    

    if x["name"] == "Tom" :
    
        print(x["department"])

print(b)

c = [x for x in a if x["name"] == "Cat"]

print(c[0]["department"])

aaa
[{'name': 'Cat', 'department': 'bbb', 'age': 25}, {'name': 'Meow', 'department': 'ccc', 'age': 30}]
bbb

In [1]:
# dictionary 的排序

a = [10,25,20]

pair = dict(enumerate(a))

# 用 items 來排序 , 還有 key 以 lamda 傳入每個 items 元素的 values 來做為排序依據

sort_pair = sorted(pair.items(),key=lambda item:item[1],reverse=True)

# 最後得到是 list of tuple 

print(sort_pair)

[(1, 25), (2, 20), (0, 10)]

In [5]:
# list 的倒序排序

# 用 [::-1] 即可，最後一個是一次跳幾階的引數，-1 就是減少

a = [1,2,3,4,5]

b = a[::-1]

print(b)

# sort(reverse=True) 也可以排完再倒序變 desc，注意不會回傳，只有對原變數做變動

a = [1,3,5,2,4]

a.sort(reverse=True)

print(a)

[5, 4, 3, 2, 1]
[5, 4, 3, 2, 1]

In [ ]:
# range()

# 主要功能是產生一個有順序數列的 iterable，基本上就是 list，不要忘了

a = list(range(6))

print(a)

[0, 1, 2, 3, 4, 5]

In [2]:
# list comprehension 裡面可以再有 list comprehension , 是沒關係的

import numpy

array = numpy.array([["a",2,3],["b",5,6],["c",8,9]])

numeric_array = [index for index in range(array.shape[1]) if all([isinstance(item,(int,float)) for item in array[:,index]])]

print(numeric_array)

[]

In [ ]:
# 有時候 布林值的 " 非 " 是用 not 而不是波浪號 ~

import pandas

# 這邊可以用 ~ 

data_column = ["日期","名稱","收盤價"]

data_row = [["20250801","aaa",120],["20250802","aaa",float("Nan")],["20250803","aaa", ],["20250804","   ",150],[None,"aaa",160]]

dataframe = pandas.DataFrame(data_row,columns=data_column)

dataframe_string = dataframe.select_dtypes(include="object")

select_string = dataframe_string.columns

for col in select_string : 

    dataframe = dataframe[~dataframe[col].str.strip().isin(["",None])]

# 這邊就要用 not , 改成 ~ 會提示要改掉

NaN_list = [1,""," ",float("NaN"),None]

NaN_list = [x for x in NaN_list if not (isinstance(x,str) and x.strip() == "")]